:root {
  --myVar: white;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbar-text-color {
  /*color: var(--myVar);*/
  color: white;
}

.app-notifications {
  position: absolute;
  background-color: white;
  margin: 0 15px;
  z-index: 100;
  width: 90vw;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
}

.project-card {
  width: 300px;
  height: 130px;
  margin: 15px;
}

.project-card-title {
  cursor: pointer;
  border-bottom: 1px solid lightgray;
  padding-bottom: 7px;
}

.select-customer {
  width: 270px;
}

